<%= render 'layouts/navigation' %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-4">
      </br>
      </br>
      <img class="mt-4"src="/images/wardy-and-coops-ban-WC.gif"/>
      <h1 class="mt-4 text-center">are getting married!</h1>
      <br>
      <h2 class="mt-4 text-center">We are delighted to invite you to be part of our Ceremony and Celebrations on<h2>
      <h1 class="mt-4 text-center">Saturday 18th August 2018</h1>
      <section id="where" class="section-wrapper">
        <%= render 'components/map' %>
      </section>
      <section id="when" class="section-wrapper">
        <%= render 'components/when' %>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div id="animate">
        <img class="flapping" src="/images/Justflapping.gif"/>
        <img class="falling" src="/images/Justfalling.gif"/>
      </div>
    </div>

    <div class="col-8">
      <section id="info" class="section-wrapper">
        <%= render 'components/info' %>
      </section>
      <section id="accomodation" class="section-wrapper">
        <%= render 'components/accomodation' %>
      </section>
    </div>
  </div>
  <div class="row mt-4">
    <a class="btn btn-outline-secondary btn-block m-auto rsvp rsvp-large" href="/wedding_responses/new">RSVP</a>
  </div>
</div>
