<%= render 'layouts/navigation' %>

<div class="container">
  <div class="row">
    <div class="col-m mx-auto">
      <img class="mt-4"src="/images/wardy-and-coops-ban-WC.gif">
      <h1 class="mt-4 text-center">Saturday 18th August 2018</h1>
      <section id="when" class="section-wrapper">
        <%= render 'components/when' %>
      </section>
      <section id="where" class="section-wrapper">
        <%= render 'components/map' %>
      </section>
      <section id="accomodation" class="section-wrapper">
        <%= render 'components/accomodation' %>
      </section>
      <section id="info" class="section-wrapper">
        <%= render 'components/info' %>
      </section>
      <section id="rsvp" class="section-wrapper">
        <a class="nav-link m-auto rsvp" href="/wedding_responses/new">RSVP</a>
      </section>
    </div>
  </div>
</div>
